---
import Toolbar from '@/components/toolbar/Toolbar.astro';
import styles from './Spec.module.css';
import {Toc, buildNestedToc} from '@/components/toc/Toc';
import type { FlatTocItem } from '@/components/toc/Toc';

import BaseLayout from '@/layouts/BaseLayout.astro';
import { wrap as preWrap } from './utils/pre-wrapper';
import Header from '@/components/header/Header.astro';

export interface Props {
  title: string
  sections:  Element[]
  toc: string
  metaData?: Record<string, any>
}
const { title, sections, toc, metaData } = Astro.props;
const sectionsArray = Array.isArray(sections) ? sections : [sections];
const headerSection: Element[] = []
const contentSections: Element[] = [];
preWrap(sectionsArray);
sectionsArray.forEach(s => {
  if(['abstract', 'sotd', 'conformance'].some(id => s.getAttribute && s.getAttribute('id') === id)) {
    headerSection.push(s);
  }else {
    contentSections.push(s);
  }

});
const flatTocItems = toc as unknown as FlatTocItem[];
const nestedTocItems = buildNestedToc(flatTocItems);
---
<BaseLayout title={title}>
  <Header />
  
  <div class={styles.specTemplate}>
    <!-- <aside class={styles.toc} set:html={toc}/> -->
           <Toc client:load items={nestedTocItems} />

    <main>
    
      <article class="content-width fluid-container">
        <header>
          <h1>{metaData?.title ?? title}</h1>
          <p>{metaData?.shortName}</p>
        </header>
        <div class={styles.headerSections} set:html={headerSection} />
        <div class={styles.contentSections}>
          {contentSections.map(section => (
            <div set:html={section} />
          ))}
        </div>
      </article>
    </main>
    <section>
    <Toolbar />
  </section>
  </div>
    
</BaseLayout>

<script>
document.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll('.code-block').forEach(block => {
      const button = block.querySelector('[data-copy]');
      const pre = block.querySelector('pre');

      if (!button || !pre) return;

      button.addEventListener('click', async () => {
        try {
          await navigator.clipboard.writeText(pre.textContent.trim());
          const original = button.textContent;
          button.textContent = 'Copied!';
          setTimeout(() => (button.textContent = original), 2000);
        } catch (err) {
          console.error('Failed to copy code:', err);
          button.textContent = 'Error';
          setTimeout(() => (button.textContent = 'Copy'), 2000);
        }
      });
    });
  });
</script>